.contact-us-section{
    margin-top: 25vh;
    margin-bottom: 10vh;
}
/* FORM CSS start */
.form-container {
    display: flex;
    justify-content: center;
}

.form-container h1 {
    text-align: center;
    font-size: 40px;
}
.form-container p{
    font-size: 15px;
    text-align: center;
}
.form-container form {
    height: 600px;
    width: 450px;
    display: flex;
    flex-direction: column;
    box-shadow: -4px 0px 16px 0px rgba(0,0,0,0.75);
    padding: 20px 20px;
    border-radius: 5px;
}

.form-container form span {
    margin: 15px 0 5px 0;
    font-size:20px;
}

.form-container form input {
    border-radius: 20px;
    background-color: #EEEEEE;
    font-size:20px;
    padding:10px;
    border: none;
}

.form-container form textarea {
    border-radius: 20px;
    background-color: #EEEEEE;
    font-size:20px;
    border: none;
    padding:10px;
    resize: none;
    height: 250px;
}

.form-container form .btn {
    background-color: #E2C275;
    font-size:20px;
    margin-top: 10px;
    cursor: pointer;
}
/* FORM CSS start */