@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

:root{
    --black: #1B1722;
    --white : #F0F0F0;
    --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --box-shadow-top: 4px -4px 5px 0px rgba(0, 0, 0, 0.25);
}

body {
    font-family: 'Quicksand', sans-serif;
	background-image: url("../images/login/bg2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}
a {
	color: black;
}
.login-section {
	position: relative;
	margin-top: 80px;
	margin-left: 90px;
	width: 100%;
	height: 100vh;
	display: flex;
}

.login-section .imgBx {
	position: relative;
	width: 50%;
	height: 100%;
}
.login-section .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 83%;
	object-fit: cover;
}

.login-section .contentBx {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40%;
	height: 83%;
	background-color: white;
	opacity: 0.95;
}

.login-section .contentBx .formBx {
	width: 50%;
}

.login-section .contentBx .formBx h2 {
	color:black;
	font-weight: 600;
	font-size: 20px;
	margin-bottom:20px;
	border-bottom: 4px solid #E5BA73;
	display: inline-block;
	letter-spacing: 1px;
}

.login-section .contentBx .formBx .inputBx {
	margin-bottom: 20px;
}

.login-section .contentBx .formBx .inputBx span {
	font-size: 16px;
	margin-bottom: 5px;
	display: inline-block;
	color:black;
	font-weight: 300;
	font-size: 16px;
	letter-spacing: 1px;
}

 .login-section .contentBx .formBx .inputBx input {
	width: 100%;
	padding: 10px 20px;
	outline: none;
	font-weight: 400;
	border:1px solid black;
	font-size: 16px;
	letter-spacing: 1px;
	color:black;
	background:transparent;
	border-radius: 30px;
}

.login-section .contentBx .formBx .inputBx input[type="submit"] {
	background-color: #E5BA73;
	color:white;
	outline: none;
	font-weight: 500;
	cursor: pointer;
}


.login-section .contentBx .formBx .remember {
	color: #607d8b;
	font-weight: 400;
	font-size: 14px;
}

/* SIGN UP */
.sign-up-section {
	position: relative;
	margin-top: 80px;
	margin-left: 90px;
	width: 100%;
	height: 100vh;
	display: flex;
}

.sign-up-section .imgBx {
	position: relative;
	width: 50%;
	height: 100%;
}
.sign-up-section .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 83%;
	object-fit: cover;
}

.sign-up-section.sign-up-section .contentBx {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40%;
	height: 83%;
	background-color: white;
	opacity: 0.95;
}

.sign-up-section .contentBx .formBx {
	width: 50%;
	height: 100%;
	padding: 15px 10px;
}

.sign-up-section .contentBx .formBx h2 {
	color:black;
	font-weight: 600;
	font-size: 20px;
	margin-bottom:20px;
	border-bottom: 4px solid #E5BA73;
	display: inline-block;
	letter-spacing: 1px;
}

.sign-up-section .contentBx .formBx .inputBx {
	margin-bottom: 15px;
}

.sign-up-section .contentBx .formBx .inputBx span {
	font-size: 16px;
	margin-bottom: .2rem;
	display: inline-block;
	color:black;
	font-weight: 300;
	font-size: 16px;
	letter-spacing: 1px;
}

.sign-up-section .contentBx .formBx .inputBx input {
	width: 100%;
	padding: 10px 15px;
	outline: none;
	font-weight: 400;
	border:1px solid black;
	font-size: 16px;
	letter-spacing: .5px;
	background:transparent;
	border-radius: 30px;
}

.sign-up-section .contentBx .formBx .inputBx input[type="submit"] {
	background-color: #E5BA73;
	color:white;
	outline: none;
	font-weight: 500;
	cursor: pointer;
}
